@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.btn:disabled {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: not-allowed;
}

.disable {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: not-allowed;
}

.payment-radio:checked{
  @apply border-gray-600 transform duration-200 ease-in-out;
}

.payment-radio:checked ~ .payment-dot{
  @apply bg-opacity-100 transform duration-200 ease-in-out;
}

.checkout-checkbox:checked {
  @apply border-blue-600 transform duration-200 ease-in-out;
}

.checkout-checkbox:checked ~ .checkout-checkicon{
  @apply text-opacity-100 transform duration-200 ease-in-out;
}